<!DOCTYPE html>
<html>
<head>
  <title>Rock Paper Scissor </title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<nav>
  <ul class="topnav" id="myTopnav">
  <li><a href="/"> Home </a></li>
  <li><a href="/about"> About </a></li>

</nav>
<%= yield %>
</body>
</html>